<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
</head>
<body>
    <div class="container">
        <main class="container" layout:fragment="content" >
            <div class="container col-md-3 mt-3 mb-3">
                <div class=" d-flex justify-content-between">
                    <button type="submit" class="btn btn-dark">Zaloguj się</button>
                    <div></div>
                    <a href="#" th:href="@{/register}">
                        <button type="submit" class="btn btn-outline-dark">Rejestracja</button>
                    </a>
                </div>
            </div>
            <form method="post" th:action="@{/login}" class="was-validated">
                <div class=" d-flex justify-content-center">
                    <div class="container col-md-3">
                        <div th:if="${param.error}" class="alert alert-danger mb-3">
                            <p th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                                    Niepoprawne dane uwierzytelniające
                            </p>
                        </div>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Adres e-mail</label>
                            <input type="email" class="form-control" id="emailInput" name="username" required>
                            <div class="invalid-feedback">To pole jest wymagane</div>
                        </div>
                        <div class="mb-3">
                            <label for="passwordInput" class="form-label">Hasło</label>
                            <input type="password" class="form-control" id="passwordInput" name="password" required>
                            <div class="invalid-feedback">To pole jest wymagane</div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-outline-dark btn-block">Zaloguj się</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</body>
</html>