<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
<div class="p-0" th:fragment="form-fragment">
    <div class="mb-3">
        <label for="priceInput" class="form-label">Cena [zł]</label>
        <input type="number" step="0.01" min="0.01" class="form-control" id="priceInput" th:field="*{price}" required>
        <div class="invalid-feedback">To pole jest wymagane</div>
    </div>
    <div class="mb-3">
        <label for="state" class="form-label">Stan</label>
        <select class=" form-select me-2" id="state" th:field="*{state}">
            <option selected value="empty" hidden>Wybierz stan</option>
            <option th:each="state: ${stateList}" th:value="${state}" th:text="${state.name}"></option>
        </select>
    </div>
</div>
</body>
</html>