<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="p-0" th:fragment="search-bar">
    <div class="p-5 bg-light">
        <h4>Filtry</h4>
        <form th:action="@{|/${url}/search|}">
            <div class="d-flex">
                <div class = "d-flex col-md-11">
                    <div class="me-4">
                        <label for="state">Stan</label>
                        <select class=" form-select me-2" id="state" th:name="state">
                            <option selected value="" hidden>Wybierz stan</option>
                            <option value="" text="Dowolny">Dowolny</option>
                            <option th:each="state: ${stateList}" th:value="${state}" th:text="${state.name}"></option>
                        </select>
                        <label for="prodYear">Rok produkcji</label>
                        <div class="d-flex">
                            <input class="form-control me-1" type="number" min="1950"
                                   id ="prodYear" th:name="prodYear" step="1">
                        </div>
                    </div>
                    <div class="me-4">
                        <label for="brand">Marka</label>
                        <select class=" form-select me-2" id="brand" th:name="brand">
                            <option selected value="" hidden>Wybierz markę</option>
                            <option value="" text="Dowolna">Dowolny</option>
                            <option th:each="brand: ${brandList}" th:value="${brand}" th:text="${brand}"></option>
                        </select>
                        <label>Przebieg</label>
                        <div class="d-flex">
                            <input class="form-control me-1" type="number" min="0" placeholder="Od"
                                   id ="mileageBottom" th:name="mileageBottom" step="1">
                            <input class="form-control me-1" type="number" min="0" placeholder="Do"
                                   id ="mileageTop" th:name="mileageTop" step="1">
                        </div>
                    </div>
                    <div class="me-4">
                        <label>Moc silnika</label>
                        <div class="d-flex">
                            <input class="form-control me-1" type="number" min="0" placeholder="Od"
                                   id ="enginePowerBottom" th:name="enginePowerBottom" step="1">
                            <input class="form-control me-1" type="number" min="0" placeholder="Do"
                                   id ="enginePowerTop" th:name="enginePowerTop" step="1">
                        </div>
                    </div>
                    <div class="me-4">
                        <label>Cena</label>
                        <div class="d-flex">
                            <input class="form-control me-1" type="number" min="0" placeholder="Od"
                                   id ="priceRangeBottom" th:name="priceRangeBottom">
                            <input class="form-control me-1" type="number" min="0" placeholder="Do"
                                   id ="priceRangeTop" th:name="priceRangeTop">
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-end col-md-1">
                    <button type="submit" class="btn btn-outline-dark">Wyszukaj</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>