<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="|${owner.firstName} ${owner.lastName} -ogłoszenia|">Title</title>
</head>
<body>
<div class="p-0" th:fragment="search-bar">
    <div class="p-5 bg-light">
        <h4>Użytkownik</h4>
        <div class="container mb-4">
            <div>
                <i class="fa-solid fa-user"></i>
                <span th:text="|${owner.firstName} ${owner.lastName}|">Jan Kowalski</span>
            </div>
            <div>
                <i class="fa-solid fa-at"></i>
                <span th:text="${owner.email}">jan.kowalski@gmail.com</span>
            </div>
            <div>
                <i class="fa-solid fa-phone-volume"></i>
                <span th:text="${owner.telephoneNo}">123 456 789</span>
            </div>
            <div>
                <i class="fa-solid fa-city"></i>
                <span th:text="${owner.city}">Warszawa</span>
            </div>
        </div>
        <h4 class="text-center">Wszystkie ogłoszenia użytkownika</h4>
    </div>
</div>
</body>
</html>